assets/IMFellEnglish-Regular.ttf
assets/MedievalSharp-Regular.ttf
assets/music.mp3
assets/music2.mp3
assets/sound.wav
assets/background.png
assets/background2.png
assets/background3.png
assets/background4.png
assets/icon.png
build/